body {
    background-color: rgb(37, 37, 37);
    font-family: Arial, sans-serif;
    margin: 0px;
    color: white;
    height: auto;
}

#tituloPrincipal {
    color: white;
    
}

header {
    display: flex;
    justify-content: space-around;
    align-content: center;
    background-color: rgb(1, 140, 150);
    padding: 10px;
    box-shadow: 0px 2px 20px rgba(1, 140, 150, 0.548);
    text-align: center;
}

nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-around;
    align-items: center;
    gap: 30px;
}

.navItens {
    color: white;
    text-decoration: none;
}

.navItens:hover {
    font-weight: bolder;
    color: tomato;
}

main {
    margin: 30px;
}

p {
    text-align: justify;
}

footer {
    display: flex;
    justify-content: center;
    background-color: white;
}

#textoFooter {
    color:rgb(1, 140, 150);
    font-weight: bolder;
}