@charset "UTF-8";

* {
    font-family: arial;
    background-attachment: fixed
}
body {
    background-image: linear-gradient(to bottom, #F72343, #D61E96, #DD2DED , #951ED6, #7123F7);
    
}
main {
    color: black;
    background-color: white;
    border-radius: 10px;
    width: 500px;
    padding: 30px;
    margin: auto;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.075);
}
h1, .textoh1 {
    color: #F72343;
    line-height: 10px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.151);
}
p {
    text-align: justify;
}
h2 {
    color: #6e5659 ;
    text-align: center;
}


